<header>
  <div class="container">
    <div class="row header align-items-center">
      <div class="col-sm">
        <div id="logo">
          <img
            routerLink="/"
            src="https://www.freelogoservices.com/api/main/images/1j+ojl1FOMkX9WypfBe43D6ki...KBqRBKkRbNwXs1M3EMoAJtlSQlhPtq9Pwy"
          />
        </div>
      </div>
      <div class="col-sm">
        <form class="form-inline search">
          <input
            class="form-control"
            type="search"
            placeholder="Digite os produtos que desejar"
            aria-label="Search"
          />
        </form>
      </div>
      <div class="col-sm">
        <div class="cart" dropdown #dropdown="bs-dropdown" [autoClose]="true"  triggers="mouseover">
          <div class="value">
              {{ cartService.valorTotal | currency:'BRL':true}}
          </div>
          <div class="quantity" dropdownToggle>
              <span class="totalitems">{{ cartService.quantidadeTotal}}</span>
          </div>

          <div class="dropdown-menu carrinho" *dropdownMenu>
              <div *ngFor="let item of carrinho">
                  <div class="row">
                      <div class="imagem">
                          <img [src]="item.imagens[0]" width="50" height="50" />
                      </div>
                      <div class="titulo">
                          <b routerLink="/product/{{item.id}}">{{ item.nome }}</b>
                          <span style="flex-direction: row; justify-content: space-between; display:flex;">
                            <span>Qtd. {{ item.quantidade }}</span>
                            <span>{{ item.precoPromocional | currency:'BRL':true }}</span>
                          </span>
                      </div>
                  </div>
                  <hr>
              </div>
              <div class="valorTotal">
                  <b>Total : {{cartService.valorTotal | currency:'BRL':true }}</b>
              </div>

              <div class="botoes">
                <button class="btn btn-link" routerLink="/cart">Ver carrinho</button>
                <button class="btn btn-success" routerLink="/checkout">Fechar pedido</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
