
/* header */
header {
  box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0.04);
  background: #f6f6f6;

.search {
  width: 100%;
  input {
    width:  100%;
    font-size: 14px;
    width: 510px;
    height: 40px;
    border: 1px solid #ebebeb;
    text-indent: 20px;
  }
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  .value {
    font-size: 16px;
    text-align: right;
    font-weight: 600;
    color: #ef7000;
    margin-right: 12px;
    min-width: 88px;
  }.quantity {
    background-image : url(https://organomix.vteximg.com.br/arquivos/omix-spritesheet-00.png);
    background-position : -203px -131px;
    width:30px;
    height: 40px;
    .totalitems {
      position: absolute;
      bottom: 0px;
      right: 90px;
      /* min-width: 15px; */
      height: 15px;
      width: 15px;
      border-radius: 50%;
      text-align: center;
      /* line-height: 15px; */
      background: #f03c3f;
      color: #fff;
      font-size: 11px;
      font-weight: 700;
    }
  }
  .carrinho {
    width: 100% !important;
    .titulo {
      font-size: 12px;
      display: flex;
      flex-direction: column;
    }
  }
  .valorTotal {
    padding:0 10px 0px 10px;
  }
  .botoes {
    display: flex;
    justify-content: space-between;
    padding:0 10px 0px 10px;
  }
}

}
