
/* header */
header {
  box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0.04);
  background: #f6f6f6;

.search {
  width: 100%;
  input {
    width:  100%;
    font-size: 14px;
    width: 510px;
    height: 40px;
    border: 1px solid #ebebeb;
    text-indent: 20px;
  }
}

}
