<header>
  <div class="container">
    <div class="row header align-items-center">
      <div class="col-sm">
        <div id="logo">
          <img
            routerLink="/"
            src="https://www.freelogoservices.com/api/main/images/1j+ojl1FOMkX9WypfBe43D6ki...KBqRBKkRbNwXs1M3EMoAJtlSQlhPtq9Pwy"
          />
        </div>
      </div>
      <div class="col-sm">
        <form class="form-inline search">
          <input
            class="form-control"
            type="search"
            placeholder="Digite os produtos que desejar"
            aria-label="Search"
          />
        </form>
      </div>
      <div class="col-sm">
        <div class="cart">
          <div class="value">
              {{ cartService.valorTotal | currency:'BRL':true}}
          </div>
          <div class="quantity">
              <span class="totalitems">{{ cartService.quantidadeTotal}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
