<app-header></app-header>

<section>
  <div class="product">
  <div class="product-main-image">
    <app-images-galery [imagens]="produto.imagens"></app-images-galery>
  </div>
  <div class="product-main-information">
    <div class="desconto">
      <app-desconto [valor]="produto.preco" [valorComDesconto]="produto.precoPromocional"></app-desconto>
    </div>
    <div class="principal">
      <div class="title">
        <div>{{produto.nome}}</div>
        <div>{{produto.marca}}</div>
      </div>

      <div class="product-item-description">
        <app-product-item-description *ngFor="let icon of produto.icones" [icon]="icon"
                                      [label]="true"></app-product-item-description>
      </div>

      <div class="preco">
        <div class="preco-anterior">
          De R$ {{produto.preco | virgula}}
        </div>
        <div class="preco-atual">
          <span>Por </span>
          <span>R$ {{produto.precoPromocional | virgula}}</span>
        </div>
      </div>

      <div class="buttons">
        <app-itens-count (enviaQuantidade)="alteraQuantidade($event)"></app-itens-count>
        <app-buttom [label]="'Comprar'" class="btn-big"></app-buttom>
      </div>

    </div>
  </div>


  <div class="product-description">
    <app-tab-panel>
      <app-tab title="Descricao">
        <span>{{produto.descricao.titulo}}</span>
        <p>{{produto.descricao.conteudo}}</p>
      </app-tab>

      <app-tab title="Voce Sabia ?">
        <span>{{produto.voceSabia.titulo}}</span>
        <p>{{produto.voceSabia.conteudo}}</p>
      </app-tab>
    </app-tab-panel>
  </div>

  <div class="product-similar">
    <h3>Produtos mais vendidos</h3>
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let produto of produtosList" class="slide">
      <app-card [produto]="produto" ></app-card>
      </div>
    </ngx-slick>
  </div>
  </div>
</section>

<app-footer></app-footer>
