
/* footer */
footer {
  background: #539e5a;
}

/* copyright */
p.copy-right-grids {
  font-size: 16px;
  letter-spacing: 2px;
  color: #f7f7f7;
}

p.copy-right-grids a {
  color: #fff;
  font-weight: 600;
}
p.copy-right-grids a:hover {
  color: #000;
}
