<app-header></app-header>
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <!-- INICIO DO CARRINHO -->

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

<div class="container">
  <br />

  <div class="card">
    <div *ngIf="!carrinho().length">
      <p class="text-center"> 
        Seu carrinho esta vazio!
      </p>
    </div>
    <table class="table table-hover shopping-cart-wrap">
      <thead class="text-muted">
        <tr>
          <th scope="col">Produto</th>
          <th scope="col" width="120">Quantidade</th>
          <th scope="col" width="120">Preço</th>
          <th scope="col" width="200" class="text-right">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carrinhos of carrinho()">
          <td>
            <figure class="media">
              <div class="img-wrap">
                <img
                  [src]="carrinhos.imagens"
                  class="img-thumbnail img-sm"
                />
              </div>
              <figcaption class="media-body">
                <h6 class="title text-truncate"></h6>
                <dl class="param param-inline small">
                  <dt>{{carrinhos.nome}}</dt>
                  <dd>{{carrinhos.marca}}</dd>
                </dl>
              </figcaption>
            </figure>
          </td>
          <td>
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </td>
          <td>
            <div class="price-wrap">
              <var class="price">R$ 7,00</var>
              <small class="text-muted">(Em reais)</small>
            </div>
            <!-- price-wrap .// -->
          </td>
          <td class="text-right">
            <a
              title=""
              href=""
              class="btn btn-outline-success"
              data-toggle="tooltip"
              data-original-title="Save to Wishlist"
            >
              <i class="fa fa-heart"></i
            ></a>
            <a (click)="removeItem(item)" class="btn btn-outline-danger"> × Remover</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />
<br />
<!-- FIM DO CARRINHO -->
<app-footer></app-footer>
