<div class="container">
  <br />

  <div class="card">
    <div *ngIf="!carrinhoList.length" class="text-center">
      <h3 style="margin:50px;">
        Seu carrinho esta vazio!
      </h3>
      <button class="btn btn-outline-primary" routerLink="/" style="margin-bottom:50px;">Voltar  a loja</button>
    </div>
    <table class="table table-hover shopping-cart-wrap" *ngIf="carrinhoList.length">
      <thead class="text-muted">
        <tr>
          <th scope="col" width="45%">Produto</th>
          <th scope="col" width="5%">Quantidade</th>
          <th scope="col" width="20%">Preço Unitário</th>
          <th scope="col" width="20%">SubTotal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carrinhos of carrinhoList">
          <td>
            <figure class="media">
              <div class="img-wrap">
                <img
                  [src]="carrinhos.imagens"
                  class="img-thumbnail img-sm"
                />
              </div>
              <figcaption class="media-body">
                <h6 class="title text-truncate"></h6>
                <dl class="param param-inline small">
                  <dt>{{carrinhos.nome}}</dt>
                </dl>
              </figcaption>
            </figure>
          </td>
          <td>
            <app-itens-count [quantidade]="carrinhos?.quantidade"
            (enviaQuantidade)="alteraQuantidade(carrinhos, $event)"
          ></app-itens-count>
          </td>
          <td>
            <div class="price-wrap">
              <var class="price">{{carrinhos.preco | currency: "BRL"}}</var>
            </div>
            <!-- price-wrap .// -->
          </td>
          <td>
            <div class="price-wrap">
              <var class="price">{{carrinhos.quantidade  * carrinhos.preco | currency: "BRL"}}</var>
            </div>
            <!-- price-wrap .// -->
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th><button class="btn btn-outline-danger" (click)="clear()">Limpar carrinho</button></th>
          <th colspan="2" style="text-align:right">Subtotal:</th>
          <th>{{CartService.valorTotal | currency: "BRL"}}</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div style="display:flex; justify-content: space-between; margin-top:10px;"  *ngIf="carrinhoList.length">
      <button class="btn btn-outline-primary" routerLink="/">Continuar Comprando</button>
      <button class="btn btn-success" routerLink="/checkout">Finalizar Compra</button>
  </div>
</div>
<br />
<br />
<!-- FIM DO CARRINHO -->

