<app-header></app-header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <form-wizard *ngIf="carrinhoLength > 0 && !sucesso">
          <wizard-step
            [title]="'Entrega'"
            (onNext)="onStep1Next($event)"
            [isValid]="cep != null && endereco != null && cidade != null"
          >
            <div class="container">
              <div class="row" style="justify-content:center; display: flex;">
                <form>
                  <div class="form-group">
                    <input
                      type="tel"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="CEP"
                      (keyup)="onKeydUp($event)"
                      required
                      [(ngModel)]="cep"
                      [ngModelOptions]="{ standalone: true }"
                    />
                    <small id="emailHelp" class="form-text text-muted"
                      >Informe o cep do endereço da entrega.</small
                    >
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Endereço</label>
                    <input
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput1"
                      [(ngModel)]="endereco"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Cidade</label>
                    <input
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput1"
                      [(ngModel)]="cidade"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </div>
                </form>
              </div>
            </div>
          </wizard-step>
          <wizard-step
            [title]="'Pagamento'"
            (onComplete)="onComplete($event)"
            [isValid]="pagamento != null"
          >
            <div class="container">
              <div
                class="row"
                style="justify-content:center; display: flex; margin:70px"
              >
                <div class="col-lg-4 col-md-4 col-xs-12">
                  <div
                    class="card"
                    style="width: 18rem;"
                    (click)="selecionarPagamento('dinheiro')"
                    [ngClass]="{ select: pagamento == 'dinheiro' }"
                  >
                    <img
                      class="card-img-top"
                      src="https://image.flaticon.com/icons/svg/138/138279.svg"
                      alt="Card image cap"
                      width="60px"
                      height="60px"
                      style="margin-top:30px"
                    />
                    <div class="card-body" style="text-align:center">
                      <h5 class="card-title">Dinheiro</h5>
                      <p class="card-text">Pague com dinheiro</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                  <div
                    class="card"
                    style="width: 18rem;"
                    (click)="selecionarPagamento('cartao')"
                    [ngClass]="{ select: pagamento == 'cartao' }"
                  >
                    <img
                      class="card-img-top"
                      src="https://image.flaticon.com/icons/svg/138/138287.svg"
                      alt="Card image cap"
                      width="60px"
                      height="60px"
                      style="margin-top:30px"
                    />
                    <div class="card-body" style="text-align:center">
                      <h5 class="card-title">Cartão de crédito</h5>
                      <p class="card-text">Pague com Cartão de crédito</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                  <div
                    class="card"
                    style="width: 18rem;"
                    (click)="selecionarPagamento('boleto')"
                    [ngClass]="{ select: pagamento == 'boleto' }"
                  >
                    <img
                      class="card-img-top"
                      src="https://image.flaticon.com/icons/svg/2/2273.svg"
                      alt="Card image cap"
                      width="60px"
                      height="60px"
                      style="margin-top:30px"
                    />
                    <div class="card-body" style="text-align:center">
                      <h5 class="card-title">Boleto</h5>
                      <p class="card-text">Pague com Boleto</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </wizard-step>
        </form-wizard>

        <div *ngIf="carrinhoLength === 0 && !sucesso" class="text-center">
          <h3 style="margin:50px;">Seu carrinho esta vazio!</h3>
          <button
            class="btn btn-outline-primary"
            routerLink="/"
            style="margin-bottom:50px;"
          >
            Voltar a loja
          </button>
        </div>

        <div *ngIf="sucesso" class="text-center">
          <h3 style="margin:50px;">Compra Concluida com sucesso!</h3>
          <button
            class="btn btn-outline-primary"
            routerLink="/"
            style="margin-bottom:50px;"
          >
            Voltar a loja
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
