/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  background: #FFF;
  font-family: 'Mada', sans-serif;
}

body a,
button {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}

body a:hover,
button:hover {
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

html {
  scroll-behavior: smooth;
}

body a:focus,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: 'Mada', sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none
}

/* //Reset Code */

/* colors code */
.text-bl {
  color: #343a40;
}

.text-wh {
  color: #fff;
}

.bg-wh {
  background: #fff;
}

.text-li {
  color: #f8f9fa;
}

.let {
  letter-spacing: 1px;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;

    opacity: .75;
    color: #aaa;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -50px;
}
[dir='rtl'] .slick-prev
{
    right: -50px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}
