<app-header></app-header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <carousel>
          <slide routerLink="/product/1">
            <img
              src="https://uploaddeimagens.com.br/images/001/859/429/original/Captura_de_tela_de_2019-01-27_14-37-04.png?1548607048"
              alt="first slide"
              style="display: block; width: 100%;"
            />
          </slide>
          <slide routerLink="/product/2">
            <img
              src="https://organomix.vteximg.com.br/arquivos/ids/37693/03-flv-departamento-20190125.jpg?v=636840179848100000"
              alt="second slide"
              style="display: block; width: 100%;"
            />
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</section>

<app-catalogo descricao="Legumes" categoria="legumes"></app-catalogo>
<app-catalogo descricao="Verduras" categoria="verduras"></app-catalogo>
<app-catalogo descricao="Produtos mais vendidos"></app-catalogo>

<app-footer></app-footer>
