
<app-header></app-header>

<carousel>
    <slide routerLink="/product/1">
      <img src="https://organomix.vteximg.com.br/arquivos/ids/37351/01-geladeira-home-20181210.jpg?v=636800499939000000" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide routerLink="/product/2">
      <img src="https://organomix.vteximg.com.br/arquivos/ids/37484/01-pescados-home-20190107.jpg?v=636824762742030000" alt="second slide" style="display: block; width: 100%;">
    </slide>
</carousel>

<app-catalogo></app-catalogo>

<app-footer></app-footer>
